@import url('https://fonts.cdnfonts.com/css/billion-dreams');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@font-face {
	font-family: "MonumentExtended";
	src:
	url("assets/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
	font-family: "MonumentExtendedMedium";
	src:
	url("assets/PPMonumentExtended-Medium.ttf") format("truetype");
}

.monument {
	font-family: "MonumentExtended";
	letter-spacing: 1px;
}
.monument-medium {
	font-family: "MonumentExtendedMedium";
}
.billion {
	font-family: 'Billion Dreams', sans-serif!important;
	text-transform: none;!important;
	letter-spacing: 2px !important;
	font-weight: 200!important;
	text-shadow: -7px 4px 14px #031119;
	font-size: 1.4em;
}

html, body {
  background: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita barras de rolagem desnecessárias */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  margin: 0; /* Remover margens padrão */
  background-size: 120%; /* Ajuste o zoom */
  opacity: 1;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;
  animation: moveBackground 30s infinite ease-in-out; /* Duração e tipo de animação */
}
.fade-out {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  opacity: 0; /* Torna invisível durante a transição */
  transition: all 0.5s ease-in-out; /* Suaviza a volta à visibilidade */
}

.fade-in {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  opacity: 1; /* Retorna à visibilidade */
  transition: all 0.5s ease-in-out; /* Suaviza a volta à visibilidade */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Começa invisível */
  }
  to {
    opacity: 1; /* Termina visível */
  }
}
/* Animação para mover o background suavemente de um lado para o outro */
@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%; /* Mover até a direita */
  }
  100% {
    background-position: 0% 0%; /* Voltar para a posição inicial */
  }
}



.btn {
	font-size: 0.9em;
	border-radius: 0.6rem;
}

.btn-lg {
	font-size: 1.1em;
}

.btn-edge {
	background: linear-gradient(to right, #002c8f, #012c8f);
	color: white;
	font-weight: 700;
	font-size: 0.9em;
	border: none;
	text-transform: uppercase;
	box-shadow: 0px 0px 11px 2px transparent;
	padding: 11px 32px;
}

.text-primary {
	color: #009bec!important;
}

.btn-edge:hover {
	color: #164068;
	box-shadow: 0px 0px 11px 2px #9ab9ff;
	background: #9ab9ff!important;
}


.btn {
	color: #fff;
	border-radius: var(--bs-btn-border-radius);
	transition: all .5s!important;
}

.btn:hover {
	color: #000;
}

.btn-info {
	transition: all .5s;
	box-shadow: 0px 0px 0px 0px transparent;
	color: #fff;
	border-color: #2b8aed;
	background-color: #2b8aed;
	border-color: transparent;
}
.btn-info:hover {
	box-shadow: 0px 0px 20px 7px #2b8aed;
	color: #fff;
	background-color: #2b8aed;
	border-color: #2b8aed;
}

.bg-dark {
	background-color: #021339!important;
}

.btn-edge-outline {
	padding: 10px 23px;
	position: relative;
	font-weight: 600;
	color: white;
}
.btn-edge-outline::before {
	content: "";
	position: absolute;
	inset: 0;
	border-bottom-left-radius: 12px!important;
	border-top-right-radius: 12px!important;
	padding: 4px;
	background:linear-gradient(to right, #123993, #324f93); 
	-webkit-mask: 
	linear-gradient(#fff 0 0) content-box, 
	linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude; 
}

.btn-header, div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
	font-family: "MonumentExtendedMedium";
	box-shadow: 0px 0px 20px 4px #009bec;
	background: linear-gradient(to right, #009bec, #028dd3) !important;
	border-radius: 0.6em!important;
	color: white;
	font-size: 0.8em!important;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-color: #009bec;
  transition: all .25s!important;
  padding: 9px 20px 9px 20px;
  margin: 0!important;
}
.btn-header > i {
	padding: 0!important;
	margin: 0!important;
}
.btn-header:hover, .btn-header:focus, .btn-header:active {
	background: linear-gradient(to right, #1d9feb, #3896c5) !important;
  transform: scale(1.05);
  color: white;
}
.btn-header.disabled:hover, .btn-header.disabled, .btn-header.disabled:active {
	opacity: 0.5;
	background: #009bec;
	border-color: #009bec;
}

.btn-server-links {
  font-family: "MonumentExtendedMedium";
  box-shadow: 0px 0px 20px 4px #009bec8c;
  background: linear-gradient(to right, #009bec, #028dd3) !important;
  border-radius: 0.6em!important;
  color: white;
  font-size: 0.8em!important;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #009bec;
  padding: 9px 20px 9px 20px;
  height: 39px;
  margin: 0!important;
  transition: transform .25s!important;
}
.btn-server-links:hover, .btn-server-links:focus, .btn-server-links:active {
  background: linear-gradient(to right, #009bec8c, #028dd38c) !important;
  border: 1px solid #009bec;
  color: #009bec;
  transform: scale(1.06);
}


.btn-server-loja {
  font-family: "MonumentExtendedMedium";
  box-shadow: 0px 0px 20px 4px #f098008c;
  background: linear-gradient(to right, #f09800, #f09800) !important;
  border-radius: 0.6em!important;
  color: white;
  font-size: 0.8em!important;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #f09800;
  padding: 9px 20px 9px 20px;
  height: 39px;
  margin: 0!important;
  transition: transform .25s!important;
}
.btn-server-loja:hover, .btn-server-loja:focus, .btn-server-loja:active {
  background: linear-gradient(to right, #f098008c, #f098008c) !important;
  border: 1px solid #f09800;
  color: #f09800;
  transform: scale(1.06);
}

.btn-server-instagram {
  font-family: "MonumentExtendedMedium";
  box-shadow: 0px 0px 20px 4px #EB459E8c;
  background: linear-gradient(to right, #EB459E, #EB459E) !important;
  border-radius: 0.6em!important;
  color: white;
  font-size: 0.8em!important;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #EB459E;
  padding: 0 0;
  width: 39px;
  height: 39px;
  margin: 0!important;
  transition: transform .25s!important;
}
.btn-server-instagram:hover, .btn-server-instagram:focus, .btn-server-instagram:active {
  background: linear-gradient(to right, #EB459E8c, #EB459E8c) !important;
  border: 1px solid #EB459E;
  color: #EB459E;
  transform: scale(1.06);
}

.btn-server-youtube {
  font-family: "MonumentExtendedMedium";
  box-shadow: 0px 0px 20px 4px #ff00008c;
  background: linear-gradient(to right, #ff0000, #ff0000) !important;
  border-radius: 0.6em!important;
  color: white;
  font-size: 0.8em!important;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #ff0000;
  padding: 0 0;
  width: 39px;
  height: 39px;
  margin: 0!important;
  transition: transform .25s!important;
}
.btn-server-youtube:hover, .btn-server-youtube:focus, .btn-server-youtube:active {
  background: linear-gradient(to right, #ff00008c, #ff00008c) !important;
  border: 1px solid #ff0000;
  color: #ff0000;
  transform: scale(1.06);
}

.btn-server-tiktok {
  font-family: "MonumentExtendedMedium";
  box-shadow: 0px 0px 20px 4px #00f2ea8c;
  background: linear-gradient(to right, #00f2ea, #00f2ea) !important;
  border-radius: 0.6em!important;
  color: #000;
  font-size: 0.8em!important;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #00f2ea;
  padding: 0 0;
  width: 39px;
  height: 39px;
  margin: 0!important;
  transition: transform .25s!important;
}
.btn-server-tiktok:hover, .btn-server-tiktok:focus, .btn-server-tiktok:active {
  background: linear-gradient(to right, #0000008c, #0000008c) !important;
  border: 1px solid #ff0050;
  color: #ff0050;
  transform: scale(1.06);
}

.btn-server-discord {
  font-family: "MonumentExtendedMedium";
  box-shadow: 0px 0px 20px 4px #5865F28c;
  background: linear-gradient(to right, #5865F2, #5865F2) !important;
  border-radius: 0.6em!important;
  color: white;
  font-size: 0.8em!important;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #5865F2;
  padding: 0 0;
  width: 39px;
  height: 39px;
  margin: 0!important;
  transition: transform .25s!important;
}
.btn-server-discord:hover, .btn-server-discord:focus, .btn-server-discord:active {
  background: linear-gradient(to right, #5865F28c, #5865F28c) !important;
  border: 1px solid #5865F2;
  color: #5865F2;
  transform: scale(1.06);
}

.btn-navbar {
	font-family: "MonumentExtendedMedium";
	background: #009bec;
	color: white;
	border-radius: 0.6em!important;
	text-transform: uppercase;
	font-size: 0.8em!important;
	border-color: #009bec;
	padding: 9px 20px 9px 20px;
	margin: 0!important;
}
.btn-navbar > i {
	padding: 0!important;
	margin: 0!important;
}
.btn-navbar:hover, .btn-navbar:focus, .btn-navbar:active {
	background: #005c8c;
	border-color: #005c8c;
	color: white;
}
#particles-js {
	position: fixed; /* Fixa a posição para que não ultrapasse os limites */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 0;
}

.musicPlayer {
	text-align: center;
}

.bottomText {
	position: fixed;
	bottom: 10px;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
}

.playing {
	font-family: "MonumentExtendedMedium";
	font-size: 0.5em;
	text-transform: uppercase;
}

.bottomText .copy {
	font-family: "MonumentExtendedMedium";
	text-transform: uppercase;
	font-size: 0.6em;
} 

.playing_music {
  padding: 0!important;
  font-family: "MonumentExtendedMedium";
  margin-top: -30px;
  font-size: 0.5em;
  text-transform: uppercase;
}

.progress, .progress-stacked {
	height: 20px;
	background-color: #00d6ff3b;
}

.progress-bar {
	color: #000;
	background-color: #0095cf;
  font-size: 0.6em;
  font-family: "MonumentExtendedMedium";
  box-shadow: 1px 1px 17px 20px #0095cf;
}

*, *::after, *::before {
	-webkit-user-select: none;
	cursor: default;
}

.btn-window {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.35rem;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 35px;
  color: #5e81a3;
  height: 35px;
  transition: all .25s;
  font-size: 1em;
  background: #03192594;
  border: 1px solid #009bec12;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.btn-window-mute {
  background: #2b47515e;
  border: 1px solid #36555f;
  color: #88a2ab;
}

.btn-window-close {
  background: #2b47515e;
  border: 1px solid #36555f;
  color: #88a2ab;
}

.btn-window-minimize {
  background: #2b47515e;
  border: 1px solid #36555f;
  color: #88a2ab;
}

.btn-window-settings {
  background: #2b47515e;
  border: 1px solid #36555f;
  color: #88a2ab;
}

.btn-window > i {
	pointer-events: none;
}

/* Opcional: Adiciona um efeito de hover */
.btn-window:hover {
	opacity: 0.7;
}

.form_nick::placeholder {
  color: #94b3c3 !important;
}
div:where(.swal2-container) div:where(.swal2-popup) {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 32em;
  max-width: 100%;
  padding: 0 0 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #009bec12;
  border: 1px solid #009bec12;
  backdrop-filter: blur(10px);
  font-family: "MonumentExtendedMedium"!important;
  color: #ffffff;
  font-size: 0.8rem;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  backdrop-filter: blur(10px);
  background: #009bec12;
  border: 1px solid #009bec12;
  border-radius: 1rem;
  outline: 0;
}
div:where(.swal2-container) input:where(.swal2-input), div:where(.swal2-container) input:where(.swal2-file), div:where(.swal2-container) textarea:where(.swal2-textarea) {
  background: #009bec12;
  border: 1px solid #009bec12;
  padding-top: 18px;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'MonumentExtended';
  padding-bottom: 16px;
  padding-right: 0px;
  color: #ffffff !important;
  cursor: text;
}
div:where(.swal2-container) h2:where(.swal2-title) {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0px;
  color: inherit;
  font-family: 'MonumentExtendedMedium';
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  color: #009bec;
  word-wrap: break-word;
}
div:where(.swal2-container).swal2-center>.swal2-popup {
  grid-column: 2;
  grid-row: 2;
  place-self: center center;
  border-radius: 1rem;
  padding: 29px !important;
}
.form_folder:disabled, .form_folder:active, .form_folder:focus {
  margin: 0 !important;
  border-radius: .7rem;
  background: #009bec12;
  border: 1px solid #009bec12;
  cursor: default;
  padding-top: 10px;
  backdrop-filter: blur(10px);
  font-size: 0.7em;
  padding-inline: 10px;
  font-family: 'MonumentExtended';
  padding-bottom: 10px;
  padding-right: 0px;
  color: #ffffff !important;
  cursor: text;
}
.inputLabel {
  font-family: "MonumentExtendedMedium";
  font-size: 0.8em;
  color: #fff;
  text-transform: uppercase;
}
.form_nick {
  margin: 0 !important;
  border-radius: .7rem;
  background: #009bec12;
  border: 1px solid #009bec12;
  padding-top: 18px;
  backdrop-filter: blur(10px);
  font-size: 0.8em;
  padding-left: 45px;
  font-family: 'MonumentExtended';
  padding-bottom: 16px;
  width: 265px!important;
  padding-right: 0px;
  color: #ffffff !important;
  cursor: text;
}

.form_nick:focus, .form_nick:active {
  border: 1px solid #009bec12!important;
  background-color: #009bec40!important;
  box-shadow: none!important;
  outline: none!important;
  stroke: none!important;
}

#app-content {
	height: 100%;
	width: 100%;
}

/*.card_server {
    background: #0000004d !important;
    border-radius: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid #009bec4d;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    transition: all .5s;
    gap: 0px;
    padding-inline: 20px;
}*/


/*.card_server:hover, .card_server.selected {
    background: #009bec !important;
    border-radius: 0.9rem;
    border: 1px solid #009bec;
}*/

.card_server:hover > .sv_number, .card_server.selected > .sv_number {
	background: white;
}
.sv_number {
	background: #009bec;
	border-radius: .5rem;
	padding-bottom: 0px!important;
	height: 40px;
	pointer-events: none;
  align-items: center;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 40px;
  padding-top: 5px;
  font-size: 1em;
  margin: 0!important;
  font-family: 'MonumentExtended';
}

.sv_name {
	color: #fff;
	margin: 0;
	align-items: center;
  display: flex;
  pointer-events: none;
  font-family: 'MonumentExtendedMedium';
  font-size: 0.8em;
  align-self: center;
  justify-content: center;
  padding: 0;
}

.sv_players {
	display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'MonumentExtended';
  flex-direction: row;
  pointer-events: none;
  font-size: 0.5em;
  margin: 0;
  padding: 0;
  gap: 10px;
  color: #fff;
}


.sv_ping {
	display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'MonumentExtended';
  flex-direction: row;
  pointer-events: none;
  font-size: 0.4em;
  margin: 0;
  padding: 0;
  display: none;
  gap: 10px;
  color: #fff;
}

.green-ball {
	background: #00ff68;
	box-shadow: 0px 0px 11px 2px #00ff68;
  border-radius: 50%;
  width: 7px;
  align-items: center;
  display: flex;
  align-self: center;
  pointer-events: none;
  justify-content: center;
  display: flex;
  height: 7px;
}

.ping-icon {
	color: #00ff68;
	text-shadow: 0px 0px 11px 2px #00ff68;
	border-radius: 40%;
	align-items: center;
  display: flex;
  align-self: center;
  pointer-events: none;
  justify-content: center;
  display: flex;
  font-size: 1.2em;
}

.btn > * {
	pointer-events: none;
}

/* Opcional: Adiciona um efeito de hover */
.mute_btn:hover {
	background-color: rgba(0, 0, 0, 0.1); /* Um leve fundo ao passar o mouse */
}

.form-control:active, .form-cotrol:focus, input:focus {
	border: none!important;
	box-shadow: none!important;
	stroke: 0!important;
	outline: 0!important;
}

.slide_bg {
	background-image: linear-gradient(to top, rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url(https://horizonte-rp.com/assets/img/shape.png);
	background-size: cover;
	background-position: center;
	height: 300px;
}

.servers {
	display: flex;
	flex-direction: column;
	gap: 10px;
  font-family: "MonumentExtended";
}
.side_bar {
  background: #009bec12;
  backdrop-filter: blur(5px);
  border-right: 1px solid #009bec12;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.servers .item {
  background: linear-gradient(45deg, #000507ab, #003e556b);
  transition: all .2s!important;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #009bec;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: .45rem;
  border: 1px solid #009bec;
/*    box-shadow: 0px 0px 10px transparent;*/
}
.servers .item.selected, .servers .item:hover.selected {
  transform: scale(1);
  background: linear-gradient(45deg, #f09800, #00283a87);
  box-shadow: 0px 0px 20px #f09800;
  background-size: cover;
  background-position: center;
  color: white;
  border: 1px solid #f09800;
/*    box-shadow: 0px 0px 20px #f09800;*/
}

.servers .item.selected .number, .servers .item:hover.selected .number {
  background: linear-gradient(45deg, #000, #000);
  border-radius: .25rem;
  color: #f09800;
  width: 40px;
  font-size: 1em;
  border: none;
}

.servers .item.selected .btn, .servers .item:hover.selected .btn {
  background: #f09800;
  border: 1px solid #f09800;
  text-shadow: none;
  color: #000;
}

.servers .item:hover {
  transform: scale(1);
  background-image: linear-gradient(45deg, #009bec, transparent);
  background-size: cover;
  background-position: center;
  color: white;
  border: 1px solid #009bec;
  box-shadow: 0px 0px 20px #009bec;
}
.servers .item .number {
  background: linear-gradient(45deg, #009bec, #009bec);
  border-radius: .25rem;
  padding: 5px;
  color: #ffffff;
  width: 40px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  border: none;
  transition: all .2s!important;
}
.servers .item:hover .number {
  background: linear-gradient(45deg, #009bec, #009bec);
  border-radius: .25rem;
  color: #ffffff;
  width: 40px;
  font-size: 1em;
}
.servers .item .title {
  font-size: 0.7em;
  pointer-events: none;
  color: #fff;
  text-transform: uppercase;
}
.selected_server_card .players {
  font-size: 0.6em;
  color: #00ff68;
}
.selected_server_card .hostname {
  text-transform: uppercase;
  font-size: 0.7em;
  color: #fff;
}
.servers .item .players {
  font-size: 0.8em;
  pointer-events: none;
  color: #00ff68;
  font-weight: 800;
}
.servers .item .btn {
  background: #009bec;
  transition: .2s!important;
  border: 1px solid #009bec;
  text-shadow: none;
  color: #add4ff;
}
.servers .item:hover .btn {
  background: #009bec;
  border: 1px solid #009bec;
  text-shadow: none;
  color: #fff;
}
.servers .item:hover .btn:hover {
  background: #009bec;
  border: 1px solid #009bec;
  text-shadow: none;
  color: #fff;
  box-shadow: 1px 1px 20px 12px #009bec;
}
.servers .item:hover .btn-copy {
  background: rgb(0 2 35 / 80%);
  text-shadow: none!important;
  color: #009bec;
}
.servers .item .btn-copy {
  font-weight: 600;
  font-size: 0.7em;
  text-transform: uppercase;
  background: rgb(0 2 35 / 25%);
  width: 80%;
  border-radius: .25rem;
  margin-inline: auto;
  color: #bcd6ff;
  padding: 3px 10px;
}

.bg_mapa {
  background-image: radial-gradient(61.34% 45.38% at 50.26% 47.19%, hsl(0deg 0% 0.78% / 43%) 0, #000104 87.48%), url(https://horizonte-rp.com/assets/img/map.png);
  min-height: 590px;
  margin-top: -200px;
  padding: 0px 200px;
  background-position: center;
  margin-bottom: 100px;
  background-size: cover;
}
.bg-gradient-mapa {
  background: linear-gradient(to top, #02020200, #010408, transparent);
  margin-inline: 0 !important;
  padding-inline: 0px;
}
.online_players {
 font-family: Sofia Sans;
 font-weight: 800;
 font-size: 8rem;
 margin-bottom: 0px!important;
 padding-bottom: 0px!important;
}
.texts_online_players {
  padding-inline: 156px;
}
.online_icon {
  width: 20px;
  height: 20px;
  animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes blink {
  50% {
    opacity: .2
  }
}
.jogadores_online {
  font-size: .87em;
  margin-top:-28px!important
}
@media (max-width: 768px) {
  .bg-gradient-mapa {
    padding-inline: 0px;
  }
  .online_players {
    font-size: 6rem;
  }
  .texts_online_players {
    padding-inline: 30px;
  }
  .bg_mapa {
    margin-top: -178px;
    margin-bottom: -30px;
    min-height: 572px;
    padding: 0px 2px;
  }
  .btn-mapa {
    margin-top: 29px!important;
  }
  .jogadores_online {
    font-size: .87em;
    margin-top: -18px!important
  }
  .col_online {
    margin-inline: 0!important;
  }
}
.btn-mapa {
  border: 2px solid #009bec !important;
  background: #01060966 !important;
  backdrop-filter: blur(3px);
  color: #009bec;
  transition: all .5s;
}
.btn-mapa:hover {
  transform: scale(1.1);
  border: 2px solid #009bec !important;
  background: #009bec !important;
  backdrop-filter: blur(3px);
  color: #fff;
}

.btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.alert.bg-warning {
  box-shadow: 0px 0px 20px #f09800;
}
.bg-warning {
	background: #f09800!important;
}
.bg-muted-warning {
	color: #f09800!important;
	background: #f0980040!important;
}
.text-warning {
	color: #f09800!important;
}

/* Zoom do modal */
.modal.fade.zoom:not(.show) .modal-dialog {
  transform: scale(0.8);
}

/* Tempo da transição de zoom */
.modal-dialog {
  transition: transform 0.1s ease-out!important;
}

/* Ajuste do tempo de fade do fundo */
.modal.fade .modal-dialog {
  transition: opacity 0.1s ease-out, transform 0.1s ease-out!important;
}

/* Fundo do modal */
.modal {
  background-color: none!important;
  backdrop-filter: blur(10px);
  transition: all 0.1s ease-out!important;
}
div:where(.swal2-container).swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation {
  background: transparent;
  backdrop-filter: blur(10px);
}

div:where(.swal2-container) div:where(.swal2-validation-message) {
  align-items: center;
  justify-content: center;
  margin: 1em 0 0;
  padding: 1em;
  overflow: hidden;
  background: #c11c1c;
  color: #ffffff;
  width: 100%;
  font-size: 0.6em;
  font-family: 'MonumentExtendedMedium';
  border-radius: .5rem;
  font-weight: 300;
}

div:where(.swal2-container) div:where(.swal2-validation-message)::before {
  display: none
}

.topbar_nav {
  border-radius: .7rem;
  background: #009bec12;
  border: 1px solid #009bec12;
  padding-top: 10px;
  padding-bottom: 10px;
  backdrop-filter: blur(10px);
  padding-left: 10px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  padding-right: 10px;
}

.nav-link {
  font-size: 0.6em;
  background: #009bec12;
  border: 1px solid #009bec12;
  border-radius: .5rem;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  pointer-events: all;
  font-family: 'MonumentExtendedMedium';
}

.nav-link.active {
  background: #009bec;
  color: white;
}

.nav, .nav-item, .nav-link {
  -webkit-app-region: no-drag;
}

.selected_server_card {
  background: linear-gradient(to right, #01121eb5, #2245595c);
  transition: all .2s !important;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  backdrop-filter: blur(16px);
  color: #009bec;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: .45rem;
  border: 1px solid #009bec4f;
}
@keyframes moveUp {
  0% {
    transform: translateY(0px) translateX(0px) rotate(3deg);
  }
  50% {
    transform: translateY(30px) translateX(20px) rotate(-5deg); /* Rotação no meio do movimento */
  }
  100% {
    transform: translateY(0px) translateX(0px) rotate(3deg); /* Retorna à posição original */
  }
}

.server_pictures {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  animation: moveUp 10s infinite linear; /* Suaviza a animação com um movimento constante */
  will-change: transform;
}

.settingsSidebar {
  background: #03192594;
  backdrop-filter: blur(10px);
  border: 1px solid #009bec1a !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
}

.card_news {
  background-image: linear-gradient(to top, #041925, transparent), url(https://i.ytimg.com/vi/AjRloT-y2HU/maxresdefault.jpg);
  background-size: cover;
  width: 100%;
  cursor: pointer;
  height: 150px;
  box-shadow: 0px 0px 17px 0px #051f2d;
  border-radius: .5rem !important;
  flex-direction: column;
  border: 1px solid #3f6e87;
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
  padding-inline: 10px;
  transition: all .25s;
  align-items: start;
}

.card_news:hover {
  transform: scale(1.05);
}

.card_news_title {
  font-family: "MonumentExtended";
  color: #009bec;
  text-transform: uppercase;
  font-size: 0.7em;
  margin: 0!important;
  pointer-events: none;
  word-wrap: break-word;
  padding: 0!important;
}

.card_news_text {
  font-family: "MonumentExtendedMedium";
  padding: 0!important;
  color: #ccc;
  pointer-events: none;
  word-wrap: break-word;
  font-size: 0.4em;
  padding-top: 5px!important;
  text-align: justify;
}

#loadingscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #011a27c2;
  backdrop-filter: blur(10px);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.beta_alert {
  background: #2b47515e;
  border: 1px solid #36555f;
  padding: 5px 10px;
  color: #88a2ab;
  font-size: 0.7em;
}

.player_home_card {
  margin: 0 !important;
  border-radius: .7rem;
  background: #009bec12;
  border: 1px solid #009bec12;
  padding-top: 18px;
  backdrop-filter: blur(10px);
  font-size: 0.8em;
  padding-left: 45px;
  font-family: 'MonumentExtended';
  padding-bottom: 16px;
  width: 265px!important;
  padding-right: 0px;
  color: #ffffff !important;
  cursor: text;
}

.player_home_card_skin {
      height: 89px;
    object-fit: cover;
    object-position: top;
    width: 90px;
    margin-top: -31px;
    margin-left: -10px;
}